body{
    background: #e9e9e9;
}

.askToHelp{
    position: fixed;
    bottom: 16px;
    right: 95px;
    background: #2b3439;
    color: white;
    font-size: 14px;
    padding: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 4px;
  }
  .askToHelp:after {
    content: " ";
    position: absolute;
    right: -8px;
    top: 12px;
    border-top: 15px solid transparent;
    border-right: none;
    border-left: 15px solid #2b3439;
    border-bottom: 15px solid transparent;
  }

.mainButton{
    background: #00a4ff;
    width: 50px;
    height: 40px;
    color: white;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 23px;
    right: 28px;
    border-radius: 5px;
    outline: none;
}
.arrow{
    border-radius: 5px 5px 0px 5px;
}
.arrow:after{
    content: " ";
    position: absolute;
    right: 0px;
    bottom: -10px;
    border-top: 12px solid #00a4ff;
    border-right: 0px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: none; 
}
i{
    font-size: 26px;
}



.main-window{
    background: white;
    width: 320px;
    height: 107px;
    position: fixed;
    bottom: 72px;
    right: 28px;
    border-radius: 5px;
    padding: 7px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
}
.rates-blocks{
    display: flex;
    width: 298px;
    height: 41px;
    justify-content: space-between;
    margin: 0 auto;
}
.rate{
    background: #ffc200;
    width: 46px;
    height: 36px;
    border-radius: 3px;
}
.rate > i{
    line-height: 36px;
}

.rates-blocks:hover .rate:not(:hover){
    -webkit-filter: grayscale(70%);
    filter: grayscale(70%);
}

textarea{
    width: 298px;
    outline: none;
    height: 210px;
    border: 0px;
   
    margin-top: 15px;
    resize: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.line{
    background: #e3e3e3;
    width: 334px;
    height: 2px;
    content: " ";
    margin-left: -7px;
    margin-top: 20px;
}
.line1 {
    content: " ";
    position: absolute;
    right: 29px;
    top: 122px;
    border-top: none;
    border-right: 14px solid transparent;
    border-left: 12px solid transparent;
    border-bottom: 15px solid #e3e3e3;
    z-index: 0;
}
.line2 {
    content: " ";
    position: absolute;
    right: 28px;
    top: 125px;
    border-top: none;
    border-right: 15px solid transparent;
    border-left: 12px solid transparent;
    border-bottom: 15px solid white;
    z-index: 1;
  }

  .greyscale{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  .rateSpec{
    background: #ffc200;
    width: 46px;
    height: 36px;
    border-radius: 3px;
}
.rateSpec > i{
    line-height: 36px;
}
.sendBtn{
    width: 105px;
    height: 40px;
    background: #e3e3e3;
    font-family: 'Roboto',arial,sans-serif;
    outline: none;
    cursor: pointer;
    border: none;
    margin-top: 8;
    float: right;
    margin-right: 10px;
    border-radius: 5px;
    font-weight: bold;
}
.sendBtn:hover{
    background: #a9a8a8;
}
